################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CsvImporter/DesignTimeBuild
/UnitTest/obj
/UnitTest/bin/Debug/netcoreapp3.1
/.vs/CsvImporter/v16/TestStore/0
